<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Vue.js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <h3>后台管理</h3>
    <div class="container">
        <div id="manage">
            <p>
                <router-link to="/movie">电影管理</router-link>
                <router-link to="/vip">用户管理</router-link>
                <router-link to="/director">导演管理</router-link>
                <router-link to="/actor">演员管理</router-link>
            </p>
            <router-view></router-view>
        </div>
    </div>


    <script>
        // 模态框
        // const imodal = {
        //     data(){
        //         return{

        //         }
        //     },
        //     props:['show'],
        //     methods:{
        //         close(){
        //             this.$emit('close');
        //         }
        //     },
        //     template: `
        //     <div class="modal-backdrop" @click="close" v-show="show"> 
        //         <div class="modal" @click.stop> 
        //             <div class="modal-body"> 
        //                 <slot name="body"></slot>
        //             </div> 
        //         </div>
        //     </div>
        //     `
        // }

        // 电影管理
        const movieManage = {
            template: `
            <div class="movie">
                <router-link to="/movie/add">添加电影</router-link>
                <router-link to="/movie/poster">添加图片</router-link>
                <router-link to="/movie/list">影片列表</router-link>
                <router-view></router-view>
                </div>
                `
        }
        //用户管理
        const vipManage = {
            template: `
            <div class="vip">
                <router-link to="/vip/list">用户列表</router-link>
                <router-view></router-view>
            </div>
            `
        }

        //导演管理
        const directorManage = {
            template: `
            <div class="director">
                <router-link to="/director/add">添加导演</router-link>
                <router-link to="/director/pic">添加图片</router-link>
                <router-link to="/director/list">导演列表</router-link>
                <router-link to="/director/search">搜索导演</router-link>
                <router-view></router-view>
            </div>
            `
        }

        //演员管理
        const actorManage = {
            template: `
            <div class="actor">
                <router-link to="/actor/add">添加演员</router-link>
                <router-link to="/actor/pic">添加图片</router-link>
                <router-link to="/actor/list">演员列表</router-link>
                <router-link to="/actor/search">搜索演员</router-link>
                <router-view></router-view>
            </div>
            `
        }
        
        //添加电影 ok
        const movieAdd = {
            template: `
            <div>
            <form method="POST" action="movie" target="iframeMA">
                <div class="form-group">
                    <label for="exampleInputEmail1">电影名称</label>
                    <input type="text" class="form-control" name="movieName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">电影类型</label>
                    <input type="text" class="form-control" name="movieType" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">电影产地</label>
                    <input type="text" class="form-control" name="movieCountry" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">评分</label>
                    <input type="text" class="form-control" name="movieScore" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">上映日期</label>
                    <input type="text" class="form-control" name="movieDate" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">推荐指数</label>
                    <input type="text" class="form-control" name="movieRatings" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">维度</label>
                    <input type="text" class="form-control" name="movieDimension" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">简介</label>
                    <input type="text" class="form-control" name="movieDesc" id="exampleInputPassword1" placeholder="">
                </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
                <iframe id="iframe" name="iframeMA" style="display:none;"></iframe>
                </div>
            `
        }

        const moviePoster = {
            template: `
            <form>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">电影名称</label>
                    <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group mt-4">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" multiple class="form-control-file" id="exampleFormControlFile1">
                    <button type="submit" class="btn btn-primary mt-3">上传</button>
                </div>
            </form>
            `
        }

        //电影列表
        const movieList = {
            data() {
                return {
                    movies: []
                }
            },
            created() {
                this.movieList()
            },
            watch: {
                '$route': 'movieList'
            },
            methods: {
                movieList() {
                    axios.get('/movie/base').then((res) => this.movies = res.data);
                },

                deleteInfo(i){
                    axios.delete('/movie/'+i,{'directorId':i}).then();
                }
            },
            template: `
            <table class="table">
                <thead>
                    <tr>
                        <th>电影id</th>
                        <th>电影名称</th>
                        <th>电影类型</th>
                        <th>电影产地</th>
                        <th>电影评分</th>
                        <th>上映日期</th>
                        <th>推荐指数</th>
                        <th>维度</th>
                        <th>电影简介</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="m in movies">
                        <td scope="row">{{m.movieId}}</td>
                        <td>{{m.movieName}}</td>
                        <td>{{m.movieType}}</td>
                        <td>{{m.movieCountry}}</td>
                        <td>{{m.movieScore}}</td>
                        <td>{{m.movieDate}}</td>
                        <td>{{m.movieRatings}}</td>
                        <td>{{m.movieDimension}}</td>
                        <td>{{m.movieDesc}}</td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" v-bind:data-target="'#'+m.movieName">修改</button>
                            <div class="modal fade" v-bind:id=m.movieName tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">电影名称</label>
                                                    <input type="text" class="form-control" name="movieName" v-model="m.movieName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">

                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">电影类型</label>
                                                    <input type="text" class="form-control" name="movieType" v-model="m.movieType" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">电影产地</label>
                                                    <input type="text" class="form-control" name="movieCountry" v-model="m.movieCountry" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">评分</label>
                                                    <input type="text" class="form-control" name="movieScore" v-model="m.movieScore" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">上映日期</label>
                                                    <input type="text" class="form-control" name="movieDate" v-model="m.movieDate" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">推荐指数</label>
                                                    <input type="text" class="form-control" name="movieRatings" v-model="m.movieRatings" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">维度</label>
                                                    <input type="text" class="form-control" name="movieDimension" v-model="m.movieDimension" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">简介</label>
                                                    <input type="text" class="form-control" name="movieDesc" v-model="m.movieDesc" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button type="button" @click="deleteInfo(m.movieId)" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            `
        }

        const vipList = {
            data() {
                return {
                    vips: []
                }
            },
            created() {
                this.vipList()
            },
            watch: {
                '$route': 'vipList'
            },
            methods: {
                vipList() {
                    axios.get('/signIn').then((res) => this.vips = res.data)
                }
            },
            template: `
            <table class="table">
                <thead>
                    <tr>
                        <th>用户id</th>
                        <th>用户昵称</th>
                        <th>用户手机</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="v in vips">
                        <td scope="row">{{v.vipId}}</td>
                        <td>{{v.vipName}}</td>
                        <td>{{v.vipPhone}}</td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" v-bind:data-target="'#'+v.vipName">修改</button>
                            <div class="modal fade" v-bind:id=v.vipName tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">用户昵称</label>
                                                    <input type="text" class="form-control" name="vipName" v-model="v.vipName" id="exampleInputPassword1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">用户手机</label>
                                                    <input type="text" class="form-control" name="vipPhone" v-model="v.vipPhone" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                                </div>
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            `
        }

        const directorAdd = {
            template: `
            <div>
            <form method="POST" action="director" target="iframeDA">
                <div class="form-group">
                    <label for="exampleInputEmail1">导演名字</label>
                    <input type="text" class="form-control" name="directorName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="输入导演姓名">

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="directorSex" id="exampleRadios1" value="1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        男
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="directorSex" id="exampleRadios2" value="0">
                    <label class="form-check-label" for="exampleRadios2">
                        女
                    </label>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">出生日期</label>
                    <input type="text" class="form-control" name="directorBirth" id="exampleInputPassword1" placeholder="输入出生日期">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">国籍</label>
                    <input type="text" class="form-control" name="directorCountry" id="exampleInputPassword1" placeholder="输入国籍">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">简介</label>
                    <input type="text" class="form-control" name="directorDesc" id="exampleInputPassword1" placeholder="输入简介">
                </div>
                <button type="submit" class="btn btn-primary">添加</button>
            </form>
            <iframe id="iframe" name="iframeDA" style="display:none;"></iframe>
            </div>
            `
        }

        const directorPic = {
            template: `
            <form>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">导演姓名</label>
                    <input type="text" class="form-control" namr="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="输入导演姓名">
                </div>
                <div class="form-group mt-4">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" multiple class="form-control-file" id="exampleFormControlFile1">
                    <button type="submit" class="btn btn-primary mt-3">上传</button>
                </div>
            </form>
            `
        }

        const directorList = {
            data() {
                return {
                    directors: [],
                    isModalVisible: false
                }
            },
            created() {
                // 组件创建完后获取数据，
                // 此时 data 已经被 observed 了
                this.directorList()
            },
            watch: {
                // 如果路由有变化，会再次执行该方法
                '$route': 'directorList'
            },
            methods: {
                directorList() {
                    
                    axios.get('/director/base').then((res) => this.directors = res.data);
                    
                },
                updateDirector(i, n, s, b, c, d) {
                    axios.put('/director/' + i, {
                        'directorId': i, 'directorName': n, 'directorSex': s, 'directorBirth': b, 'directorCountry': c
                        , 'directorDesc': d
                    }).then(console.log('发送成功'));
                    
                },
                show(){
                    this.isModalVisible=true;
                }
                // showModal() {
                //     this.isModalVisible = true
                // },
                // closeModal() {
                //     this.isModalVisible = false
                // },
                // create() {

                // }
                // update(){

                // }
            },
            template: `
            <table class="table" id="">
                <thead>
                    <tr>
                        <th>导演id</th>
                        <th>导演姓名</th>
                        <th>导演性别</th>
                        <th>出生日期</th>
                        <th>国籍</th>
                        <th>简介</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in directors">
                        <td scope="row">{{item.directorId}}</td>
                        <td>{{item.directorName}}</td>
                        <td>{{item.directorSex}}</td>
                        <td>{{item.directorBirth}}</td>
                        <td>{{item.directorCountry}}</td>
                        <td>{{item.directorDesc}}</td>
                        <td>
                            <button type="button" @click="show()" class="btn btn-info" data-toggle="modal" v-bind:data-target="'#'+item.directorName">修改</button>
                            <div class="modal fade" tabindex="-1" role="dialog" v-bind:id=item.directorName aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document" >
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">导演名字</label>
                                                    <input type="text" class="form-control" name="directorName" id="exampleInputEmail1" v-model="item.directorName" aria-describedby="emailHelp"
                                                        placeholder="输入导演姓名">
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="directorSex" v-model="item.directorSex" id="exampleRadios1" value="1">
                                                    <label class="form-check-label" for="exampleRadios1">
                                                        男
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="directorSex" v-model="item.directorSex" id="exampleRadios2" value="0">
                                                    <label class="form-check-label" for="exampleRadios2">
                                                        女
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">出生日期</label>
                                                    <input type="text" class="form-control" name="directorBirth" id="exampleInputPassword1" v-model="item.directorBirth" placeholder="输入出生日期">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">国籍</label>
                                                    <input type="text" class="form-control" name="directorCountry" id="exampleInputPassword1" v-model="item.directorCountry" placeholder="输入国籍">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">简介</label>
                                                    <input type="text" class="form-control" name="directorDesc" id="exampleInputPassword1" v-model="item.directorDesc" placeholder="输入简介">
                                                </div>
                                                <button type="button" @click="updateDirector(item.directorId,item.directorName,item.directorSex
                                                ,item.directorBirth,item.directorCountry,item.directorDesc)" class="btn btn-info" >修改</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger">删除</button>
                        </td>

                        
                    </tr>
                </tbody>
            </table>
            `
        }

        const directorSearch = {
            data() {
                return {
                    director: [],
                    directorName: ''
                }
            },
            methods: {
                findDirector(n) {

                    axios.get('/director/name/' + n).then((res) => this.director = res.data);
                }
            },
            template: `
            <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="directorName" v-model="directorName" placeholder="输入导演姓名" aria-label="Search">
                
                <button @click="findDirector(directorName)" class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseDirector3"
                    aria-expanded="false" aria-controls="collapseExample">搜索</button>
            </form>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="collapseDirector3">
                        <div class="card card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>导演id</th>
                                        <th>导演姓名</th>
                                        <th>导演性别</th>
                                        <th>出生日期</th>
                                        <th>国籍</th>
                                        <th>简介</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="d in director">
                                        <td scope="row">{{d.directorId}}</td>
                                        <td>{{d.directorName}}</td>
                                        <td>{{d.directorSex}}</td>
                                        <td>{{d.directorBirth}}</td>
                                        <td>{{d.directorCountry}}</td>
                                        <td>{{d.directorDesc}}</td>
                                        <td>
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#directorModal2">修改</button>
                                            <!-- 搜索导演并点击修改后的model -->
                                            <div class="modal fade" id="directorModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <form method="PUT" action="'director/'+d.directorId">
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">导演名字</label>
                                                                    <input type="text" class="form-control" name="directorName" v-model="d.directorName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="输入导演姓名">
                                                                </div>

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="directorSex" id="exampleRadios1" value="1" checked>
                                                                    <label class="form-check-label" for="exampleRadios1">
                                                                        男
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="directorSex" id="exampleRadios2" value="0">
                                                                    <label class="form-check-label" for="exampleRadios2">
                                                                        女
                                                                    </label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">出生日期</label>
                                                                    <input type="text" class="form-control" name="directorBirth" v-model="d.directorBirth" id="exampleInputPassword1" placeholder="输入出生日期">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">国籍</label>
                                                                    <input type="text" class="form-control" name="directorCountry" v-model="d.directorCountry" id="exampleInputPassword1" placeholder="输入国籍">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">简介</label>
                                                                    <input type="text" class="form-control" name="directorDesc" v-model="d.directorDesc" id="exampleInputPassword1" placeholder="输入简介">
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">提交</button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-danger">删除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            `
        }

        const actorAdd = {
            template: `
            <div>
                <form method="POST" action="actor" target="iframeAA">
                    <div class="form-group">
                        <label for="exampleInputEmail1">演员名字</label>
                        <input type="text" class="form-control" name="actorName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="输入演员姓名">

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="actorSex" id="exampleRadios1" value="1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            男
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="actorSex" id="exampleRadios2" value="0">
                        <label class="form-check-label" for="exampleRadios2">
                            女
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">出生日期</label>
                        <input type="text" class="form-control" name="actorBirth" id="exampleInputPassword1" placeholder="输入出生日期">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">国籍</label>
                        <input type="text" class="form-control" name="actorCountry" id="exampleInputPassword1" placeholder="输入国籍">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">简介</label>
                        <input type="text" class="form-control" name="actorDesc" id="exampleInputPassword1" placeholder="输入简介">
                    </div>
                    <button type="submit" class="btn btn-primary">添加</button>
                </form>
                <iframe id="iframe" name="iframeAA" style="display:none;"></iframe>
                </div>
                `
        }

        const actorPic = {
            template: `
                    <form>
                        <div class="form-group mt-3">
                            <label for="exampleInputEmail1">演员姓名</label>
                            <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="输入演员姓名">
                        </div>
                        <div class="form-group mt-4">
                            <label for="exampleFormControlFile1">Example file input</label>
                            <input type="file" multiple class="form-control-file" id="exampleFormControlFile1">
                            <button type="submit" class="btn btn-primary mt-3">上传</button>
                        </div>
                    </form>
                    `
        }

        const actorList = {
            data() {
                return {
                    actors: []
                }
            },
            created() {
                this.actorList()
            },
            watch: {
                '$route': 'actorList'
            },
            methods: {
                actorList() {
                    axios.get('/actor/base').then((res) => this.actors = res.data)
                }
            },
            template: `
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>演员id</th>
                                    <th>演员姓名</th>
                                    <th>演员性别</th>
                                    <th>出生日期</th>
                                    <th>国籍</th>
                                    <th>简介</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(a, index) in actors" :key="index">
                                    <td scope="row">{{a.actorId}}</td>
                                    <td>{{a.actorName}}</td>
                                    <td>{{a.actorSex}}</td>
                                    <td>{{a.actorBirth}}</td>
                                    <td>{{a.actorCountry}}</td>
                                    <td>{{a.actorDesc}}</td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal" v-bind:data-target="'#'+a.actorName">修改</button>
                                        <div class="modal fade" v-bind:id=a.actorName tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">演员名字</label>
                                                                <input type="text" class="form-control" name="actorName" v-model="a.actorName" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                    placeholder="输入演员姓名">

                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="actorSex" id="exampleRadios1" value="1" checked>
                                                                <label class="form-check-label" for="exampleRadios1">
                                                                    男
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="actorSex" id="exampleRadios2" value="0">
                                                                <label class="form-check-label" for="exampleRadios2">
                                                                    女
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">出生日期</label>
                                                                <input type="text" class="form-control" name="actorBirth" v-model="a.actorBirth" id="exampleInputPassword1" placeholder="输入出生日期">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">国籍</label>
                                                                <input type="text" class="form-control" name="actorCountry" v-model="a.actorCountry" id="exampleInputPassword1" placeholder="输入国籍">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">简介</label>
                                                                <input type="text" class="form-control" name="actorDesc" v-model="a.actorDesc" id="exampleInputPassword1" placeholder="输入简介">
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">提交</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-danger">删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        `
        }

        const actorSearch = {
            data() {
                return {
                    actor: [],
                    actorName: ''
                }
            },
            methods: {
                findActor(n) {

                    axios.get('/actor/name/' + n).then((res) => this.actor = res.data);
                }
            },
            template: `
            <div>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" name="actorName" v-model="actorName" placeholder="输入演员姓名" aria-label="Search">
                                <!-- 点击按钮后发送导演名并展开下拉内容框 （后续增加点击事件）-->
                                <button @click="findActor(actorName)" class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseActor3" aria-expanded="false"
                                    aria-controls="collapseExample">搜索</button>
                            </form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="collapse" id="collapseActor3">
                                        <div class="card card-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>演员id</th>
                                                        <th>演员姓名</th>
                                                        <th>演员性别</th>
                                                        <th>出生日期</th>
                                                        <th>国籍</th>
                                                        <th>简介</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="a in actor">
                                                        <td scope="row">{{a.actorId}}</td>
                                                        <td>{{a.actorName}}</td>
                                                        <td>{{a.actorSex}}</td>
                                        <td>{{a.actorBirth}}</td>
                                        <td>{{a.actorCountry}}</td>
                                        <td>{{a.actorDesc}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#actorModal2">修改</button>
                                                            <!-- 搜索导演并点击修改后的model -->
                                                            <div class="modal fade" id="actorModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <form>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInputEmail1">演员名字</label>
                                                                                    <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="输入演员姓名">

                                                                                </div>

                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="radio" name="sex" id="exampleRadios1" value="1" checked>
                                                                                    <label class="form-check-label" for="exampleRadios1">
                                                                                        男
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="radio" name="sex" id="exampleRadios2" value="0">
                                                                                    <label class="form-check-label" for="exampleRadios2">
                                                                                        女
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInputPassword1">出生日期</label>
                                                                                    <input type="text" class="form-control" name="birth" id="exampleInputPassword1" placeholder="输入出生日期">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInputPassword1">国籍</label>
                                                                                    <input type="text" class="form-control" name="country" id="exampleInputPassword1" placeholder="输入国籍">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInputPassword1">简介</label>
                                                                                    <input type="text" class="form-control" name="desc" id="exampleInputPassword1" placeholder="输入简介">
                                                                                </div>
                                                                                <button type="submit" class="btn btn-primary">提交</button>
                                                                            </form>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-danger">删除</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            `
        }

        //创建route
        const routes = [{
            path: '/movie',
            component: movieManage,
            children: [{
                path: 'add',
                component: movieAdd
            },
            {
                path: 'poster',
                component: moviePoster
            },
            {
                path: 'list',
                component: movieList
            }]
        },
        {
            path: '/vip',
            component: vipManage,
            children: [{
                path: 'list',
                component: vipList,
            }]
        },
        {
            path: '/director',
            component: directorManage,
            children: [{
                path: 'add',
                component: directorAdd,
            },
            {
                path: 'pic',
                component: directorPic,
            },
            {
                path: 'list',
                component: directorList,
            },
            {
                path: 'search',
                component: directorSearch
            }]
        },
        {
            path: '/actor',
            component: actorManage,
            children: [{
                path: 'add',
                component: actorAdd,
            },
            {
                path: 'pic',
                component: actorPic,
            },
            {
                path: 'list',
                component: actorList,
            },
            {
                path: 'search',
                component: actorSearch
            }]
        }
        ]
        //创建router
        const router = new VueRouter({
            routes
        })
        //挂载
        const app = new Vue({
            router
        }).$mount('#manage')

        axios.get('/director').then((res) => this.directors = res.data);
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>