<!doctype html>
<html lang="en">

<head>
    <title>影片详情</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- Vue -->
    <script src="./vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 引入 ECharts 文件 -->
    <!-- <script src="js/echarts.min.js"></script> -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>


</head>

<style>
    * {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    body {
        /* background-image: url("b2.jpg"); */
        /* background-image: url("c2.jpg"); */
        /* background-color: transparent; */
        /* background-color: #2b2b2b; */
        background-color: #f5f8fa;
    }

    .img-thumbnail {
        width: 210px;
        height: 280px;
    }

    .info_list {
        margin-top: 0%;
        /* color: white; */
        list-style: none;
    }

    .info_list li {
        margin-bottom: 5%;
        font-size: 13px;
    }

    .info_list a {
        color: black;
        text-decoration: underline;
    }

    .director-pic li {
        float: left;
        margin-right: 2%;
        list-style: none;
    }

    .director-pic li img {
        width: 120px;
        height: 120px;

    }

    .back-top a {
        /* float: right; */
        color: black;
        font-size: 20px;
    }

    .card-header {
        background-color: #3097D1;
        color: white;
    }
</style>

<body>
    <header>
        <!-- 导航条 -->
        <nav class="navbar navbar-default" style="background-color: #3097D1">
            <a class="navbar-brand text-white" href="#">电影</a>

            <ul class="nav">

                <!-- 首页 -->
                <li class="nav-item">
                    <a class="nav-link active  text-white" href="#">首页</a>
                </li>
                <!-- 下拉分类菜单 -->
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            分类
                        </a>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="#">动作</a>
                            <a class="dropdown-item" href="#">喜剧</a>
                            <a class="dropdown-item" href="#">恐怖</a>
                            <a class="dropdown-item" href="#">爱情</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">个人中心</a>
                </li>
            </ul>

            <!-- 搜索框和按鈕 -->
            <div class="form">
                <form class="form-inline my-2 my-lg-0" id="search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                </form>
                <!-- <ul class="searchList">
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                    </ul> -->
            </div>


            <!-- 登录注册选项 -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" data-toggle="modal" data-target="#modelId">登陆</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-toggle="modal" data-target="#modelId2">注册</a>
                </li>
                <li class="nav-item" id="FeedBack">
                    <a class="nav-link text-white" v-on:click="feedBack">反馈</a>
                </li>
            </ul>
        </nav>



        <!-- 点击登陆显示 -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modelTitleId">欢迎来到电影网</h5>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label for="">账号</label>
                                <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="请输入账号">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input type="password" class="form-control" name="" aria-describedby="helpId" placeholder="请输入密码">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-success">登陆</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 点击注册显示 -->
        <div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitledId2">欢迎来到电影网</h5>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label for="">账号</label>
                                <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="请输入账号">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input type="password" class="form-control" name="" aria-describedby="helpId" placeholder="请设置密码">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-success">注册</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5 mb-5" id="app">
        <!-- <div class="row mb-4">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="movie_title">陈凯歌</h2>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-header">
                        <h5>死侍
                            <i class="el-icon-star-off float-right"></i>
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <img class="img-thumbnail " src="b.jpg" alt="">
                            </div>
                            <div class="col-lg-3">
                                <ul class="text-left info_list mt-3" style="color: black;font-size: 1px" v-for="(i, index) in this.movieInfo" :key="index">
                                    <li class="">
                                        <span class="info_li">
                                            <span>导演：</span>
                                            <span>
                                                <a href=""></a>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="">
                                        <span>
                                            <span>主演：</span>
                                            <span>
                                                <a href="">男</a>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="">
                                        <span>
                                            <span>类型：</span>
                                            <span>
                                                <a href=""></a>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="">
                                        <span>
                                            <span>产地：</span>
                                            <span>
                                                <a href="">1960</a>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="">
                                        <span>
                                            <span>上映日期：</span>
                                            <span>
                                                <a href="">1960</a>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="">
                                        <span>
                                            <span>维度：</span>
                                            <span>
                                                <a href="">1960</a>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="">
                                        <span>
                                            <span>推荐指数：</span>
                                            <span>
                                                <a href="">1960</a>
                                            </span>
                                        </span>
                                    </li>
                                    <h5 class=" movie_scoren mt-3" style="color: black">
                                        评分：
                                        <span class="badge badge-outline-primary ">7.6</span>
                                    </h5>

                                </ul>
                            </div>
                            <div class="col-lg-5 mt-3 float-right pl-2">
                                <div class="row">
                                    <div class="col" style="width: 100%">
                                        <set-score></set-score>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <!-- <div class="col-lg-2">
                                        <button type="button" class="btn btn-primary mt-2">收藏</button> -->
                                    <!-- <button type="button" class="btn btn-primary btn-lg mt-2 " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">评论</button> -->
                                    <!-- </div> -->
                                    <div class="col" style="width: 100%">
                                        <comment></comment>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <!-- <div id="main" style="width: 600px;height:400px;"></div> -->
                <echart></echart>
            </div>

        </div>

        <!-- <div class="row">
            <div class="col-lg-5">
                <button type="button" class="btn btn-primary btn-lg mt-4">收藏</button>
                <button type="button" class="btn btn-primary btn-lg mt-4 ml-5" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">评论</button>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-xl-10 offset-lg-1">
                <div class="collapse" id="collapseExample">
                    <div class="input-group mt-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">请在右侧发表你的观点</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row mt-5">
            <div class="col-lg-7 offset-lg-1">
                <div class="card">
                    <div class="card-header">
                        <h5>电影简介</h5>
                    </div>
                    <div class="card-body">
                        <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 mt-5">
                <div class="card">
                    <div class="card-header">
                        <h5>相关演员</h5>
                    </div>
                    <div class="card-body">
                        <ul class="director-pic pl-0">
                            <li>
                                <img src="陈凯歌.webp" alt="..." class="img-thumbnail">
                            </li>
                            <li>
                                <img src="陈凯歌.webp" alt="..." class="img-thumbnail">
                            </li>
                            <li>
                                <img src="陈凯歌.webp" alt="..." class="img-thumbnail">
                            </li>
                            <li>
                                <img src="陈凯歌.webp" alt="..." class="img-thumbnail">
                            </li>
                            <li>
                                <img src="陈凯歌.webp" alt="..." class="img-thumbnail">
                            </li>
                            <li>
                                <img src="陈凯歌.webp" alt="..." class="img-thumbnail">
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col-xl-10 offset-lg-1">
                <div class="card">
                    <div class="card-header">
                        <h5>用户评论</h5>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small>3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small>Donec id elit non mi porta.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 offset-lg-5 mt-4">
                <p class="back-top">
                    <a href="#top">
                        back to top
                    </a>
                </p>
            </div>
        </div>
    </div>


    <script>
        //评分组件
        const setScore = {
            data() {
                return {
                    value1: null,
                }
            },

            template: `
                <div>
                    <p>我要评分</p>
                    <div class="block">
                        <el-rate allow-half:true	 v-model="value1"></el-rate>
                        <button type="button" class="btn btn-primary btn-sm mt-2">提交评分</button>
                    </div>
                    
                </div>
                `
        }
        //影评组件
        const comment = {
            template: `
                <div>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">评论</button>
                    <div class="collapse" id="collapseExample">
                        <div class="input-group mt-2">
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
                `
        }
        const eChart = {
            data() {
                return {
                    scores: [],
                    number: []
                }
            },
            mounted() {

                var myChart = echarts.init(document.getElementById('main'));
                // var app=document.getElementById('#app');
                // console.log(this.scores[1]);
                // for(var i=0;i<this.scores.length;i++){
                //     this.number[i]=this.scores[i].number
                // }
                // for(let s in this.scores){
                //     number[i++]=this.scores[s].number
                // }
                axios.get('/score/9').then((res) =>
                    myChart.setOption({
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '15%',
                            right: '20%',
                            bottom: '50%',
                            containLabel: true
                        },
                        xAxis: {
                            name: '人数',
                            type: 'value',
                            boundaryGap: [0, 0.01]
                        },
                        yAxis: {
                            name: '分数',
                            type: 'category',
                            data: ['1', '2', '3', '4', '5']
                        },
                        series: [
                            {
                                name: '人数',
                                type: 'bar',
                                // data: [this.scores[0],this.scores[0],this.scores[0],this.scores[0],this.scores[0]]
                                data: res.data
                            }
                        ]
                    })
                )
            },
            template: `<div>
          <div id="main" style="width: 600px;height:400px;"></div>
          <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
          `

        }
        new Vue({
            el: '#app',
            data: {
                scores: []
            },
            components: {
                'set-score': setScore,
                'comment': comment,
                'echart': eChart
            },
            // mounted() {
                // axios.get('/score/'+9).then((res)=>this.scores=res.data, console.log(this.scores));
                // console.log(this.scores);
                // for(let i=0;i<this.scores.length;i++){
                //     this.number[i]=this.scores[i]
                // }
            // }
            mounted() {
                axios.get('/movie/base/' + '肖申克的救赎').then((res) => this.movieInfo = res.data)
                console.log(toString(this.movieInfo));

            },
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>



    <!-- <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '15%',
                right: '20%',
                bottom: '50%',
                containLabel: true
            },
            xAxis: {
                name: '人数',
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                name: '分数',
                type: 'category',
                data: ['1', '2', '3', '4', '5']
            },
            series: [
                {
                    name: '人数',
                    type: 'bar',
                    data: ['1', '1', '1', '1', '1']
                }
            ]
        } -->


    <!-- <script>
        const eChart = {
            data() {
                return {
                    scores: [],
                    option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {
                            left: '15%',
                            right: '20%',
                            bottom: '50%',
                            containLabel: true
                        },
                        xAxis: {
                            name: '人数',
                            type: 'value',
                            boundaryGap: [0, 0.01]
                        },
                        yAxis: {
                            name: '分数',
                            type: 'category',
                            data: ['1', '2', '3', '4', '5']
                        },
                        series: [
                            {
                                name: '人数',
                                type: 'bar',
                                data: ['1', '1', '1', '1', '1']
                            }
                        ]
                    }
                }
            },
            created() {
                var myChart = echarts.init(document.getElementById('main'));
                myChart.setOption({
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '15%',
                        right: '20%',
                        bottom: '50%',
                        containLabel: true
                    },
                    xAxis: {
                        name: '人数',
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        name: '分数',
                        type: 'category',
                        data: ['1', '2', '3', '4', '5']
                    },
                    series: [
                        {
                            name: '人数',
                            type: 'bar',
                            // data: ['1', '1', '1', '1', '1']
                            data: scores
                        }
                    ]
                })
            },
            template: `
                <div id="main" style="width: 600px;height:400px;"></div>
            `
        }
    </script> -->

</body>


</html>